
/* Product Page */

.removeBtn {
	cursor: pointer;
}

input[readonly] {
    border: none;
    color: #000;
    background: azure;
}

.procons {
	overflow: hidden;
	margin-top: 20px;
}

.proconBox {
	width: 400px;
	float: left;
}

.instagram_list {
	overflow: hidden;
}

.instagram_list li {
	float: left;
	margin-right: 10px;
}