
/* aff page */

.affproduct img {
	max-width: 500px;
	margin: 0px auto;
	display: block;
	margin-bottom: 20px;
}

.instagram_box {
    background: #f5f5f5;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 20px;
    border: solid 1px #e6e6e6;
}

.instagram_box a:first-child {
	margin-left: 2%;
}

.instagram_box a {
	width: 22.5%;
	float: left;
	margin: 2% 2% 2% 0px;
}

.instagram_box img {
    margin-bottom: 0px;
}

/* Where to buy */

.where_to_buy_box {
    margin-bottom: 20px;
}

.where_to_buy_table {
	width: 100%;
	text-align: center;
}

.where_to_buy_table img {
    width: 100px;
}

/* Review */

.product_review {
	overflow: hidden;
}

.product_review .rating {
    padding-left: 0px;
    display: inline-block;
    height: 20px;
}

.rating-0 { background: #dcdcdc }
.rating-1 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 10%, #dcdcdc 10%, #dcdcdc 100%); }
.rating-2 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 20%, #dcdcdc 20%, #dcdcdc 100%); }
.rating-3 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 30%, #dcdcdc 30%, #dcdcdc 100%); }
.rating-4 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 40%, #dcdcdc 40%, #dcdcdc 100%); }
.rating-5 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 50%, #dcdcdc 50%, #dcdcdc 100%); }
.rating-6 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 60%, #dcdcdc 60%, #dcdcdc 100%); }
.rating-7 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 70%, #dcdcdc 70%, #dcdcdc 100%); }
.rating-8 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 80%, #dcdcdc 80%, #dcdcdc 100%); }
.rating-9 { background: linear-gradient(to right, #ffcf43 0%, #ffcf43 90%, #dcdcdc 90%, #dcdcdc 100%); }
.rating-10 { background: #ffcf43 }

.product_review .rating li {
	background: url(../img/star.png) no-repeat 50%;
    width: 20px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    vertical-align: super;
    margin-right: -6px;
}

.product_review .rating li:last-child {
	margin-right: 0px;
}

.product_review .procon {
	width: 50%;
	float: left;
	margin: 0px;
    padding-left: 0px;
    list-style: none;
}

.product_review .procon li {
    font-size: 16px;
    padding-left: 25px;
    color: #de759c;
    padding-bottom: 5px;
}

.product_review .pros {
	clear: both;
}

.product_review .pros li {
	background: url(../img/tick.png) no-repeat 0% 3px;
    background-size: 15px;
}

.product_review .cons li {
	background: url(../img/cross.png) no-repeat 0% 3px;
    background-size: 15px;
}

/* Shop */

.aff_shop_cats,
.aff_shop_cats ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

/*.aff_shop_cats li,
.aff_shop_cats ul li {
    position: relative;
}*/

.aff_shop_cats a {
    display: block;
    padding: 5px 10px;
    border-bottom: solid 1px #ccc;
}

.aff_shop_cats a:hover {
    background: #e8e8e8;
}

.aff_dropdown {
    position: relative;
}

.add_ddtri:after {
    content: "▼";
    font-size: 12px;
    vertical-align: middle;
    margin-top: 3px;
    position: absolute;
    right: 5px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.aff_shop_cats .children {
    display: none;
}

.dd_open:after {
    content: "▲";
}

.dd_active {
    background: #e8e8e8;
}

.children {
    background: #f3f3f3;
}

.children .children {
    background: #f7f7f7;
}

.children .dd_active {
    background: #efefef;
}

/* Bread Crumbs */

.breadCrumbs {
    background: #f5f5f5;
    padding: 5px 15px;
    list-style: none;
}

.breadCrumbs li {
    display: inline-block;
}

/* shortcodes */

.affproducts_box .img_td {
    padding: 5px 5px;
}

.affproducts_box .img_td img {
    /*width: 80px;
    height: 70px;*/
    width: auto;
    height: 45px;
    object-fit: cover;
    object-position: 50% 50%;
}

.affproducts_box table {
    border: none;
    width: auto;
    /*border: solid 1px #e6e6e6;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);*/
}

.affproducts_box tr {
    border: none;
    margin-bottom: 10px;
    /*background: #f3f3f3;*/
    /*background: #f9f9f9;*/
}

/*.affproducts_box tr:nth-child(even){
    background: #f9f9f9;
}*/

.affproducts_box td {
    vertical-align: middle;
    border: none;
}

.affproducts_box .add_buy {
    padding: 10px 25px;
    background: linear-gradient(to bottom, #62acb9, #538188);
    border: solid 1px rgb(86, 136, 144);
    border-radius: 5px;
    color: #fff;
}

.affproducts_box .add_buy:hover {
    border: solid 1px rgb(86, 136, 144);
        background: linear-gradient(to bottom, #7dccda, #538188);
}

.affproducts_box .add_buy:active {
    background: linear-gradient(to top, #62acb9, #538188);
}

.affproducts_box .price {
    font-weight: bold;
    font-size: 18px;
    color: #009060;
}

/* row */

.affproducts_box.line .product {
    margin-bottom: 20px;
}

.affproducts_box.line img {
    object-fit: contain;
    height: 260px;
    object-position: 50%;
    width: 100%;
    margin-bottom: 10px;
}

/* One product multiple merchants */

.merchants_box {
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
   /* border: solid 1px #e6e6e6;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);*/
}

.merchants_box img {
    width: 100%;
}

.merchants_box table {
    margin-top: 10px;
    width: 100%;
}

.merchants_box .add_buy {
    float: right;
}

@media (min-width: 500px) {
    
    .affproducts_box.line .product {
        float: left;
        width: 48%;
        margin-right: 1%;
    }

    .affproducts_box.line img {
        object-fit: contain;
        height: 450px;
        object-position: 50%;
    }

    .merchants_box .affboxcont > a img {
        /*width: 250px;*/
        width: 50%;
        margin-right: 2%;
        float: left;
        margin-bottom: 10px;
        max-height: 200px;
        object-fit: contain;
        object-position: 50%;
    }

    .merchants_box table {
        /*max-width: 58%;*/
        width: 48%;
        float: left;
        margin-top: 0px;
        /*width: auto;*/
    }

    .merchants_box .affboxcont {
        overflow: hidden;
        max-width: 510px;
        margin: 0px auto;
    }

}

@media (min-width: 768px) {
    
    .affproducts_box.line .product {
        float: none;
        width: 100%;
        margin-right: 0%;
    }

    .affproducts_box.line img {
        object-fit: cover;
        height: 260px;
    }

}

@media (min-width: 992px) {
    
    .affproducts_box.line .product {
        float: none;
        width: 100%;
        margin-right: 0%;
    }

    .affproducts_box.line img {
        object-fit: cover;
        height: 220px;
    }

}

@media (min-width: 1200px) {
    

    
}